body {
	text-align: center;
	background: #247bb6;
}
.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.progress {
    margin: 30px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.toggle-btn, .toggle-btn1, .toggle-btn2, .toggle-btn3{
	width: 80px;
	height: 40px;
	background: gray;
	border-radius: 30px;
	padding:5px;
	transition: all 300ms ease-in-out;
}
.toggle-btn > .inner-circle, .toggle-btn1 > .inner-circle, .toggle-btn2 > .inner-circle, .toggle-btn3 > .inner-circle{
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius:50%;
	transition: all 300ms ease-in-out;
}
.toggle-btn.active{
	
	background: #48ff00;
	box-shadow: 0 0 10px #21f383, 0 0 40px #33c758, 0 0 80px #21f372;
	transition-delay: 0.5s;
}
.toggle-btn1.active{
	
	background: #2fff00;
	box-shadow: 0 0 10px #21f360, 0 0 40px #21f387, 0 0 80px #21f33d;
	transition-delay: 0.5s;
}
.toggle-btn2.active{
	
	background: #00ff11;
	box-shadow: 0 0 10px #5ad75c, 0 0 40px #21f341, 0 0 80px #21f35d;
	transition-delay: 0.5s;
}
.toggle-btn3.active{
	background: #00ff0d;
	box-shadow: 0 0 10px #a3f321, 0 0 40px #a3f321, 0 0 80px #a3f321;
	transition-delay: 0.5s;
}
.toggle-btn.active>.inner-circle,.toggle-btn1.active>.inner-circle,.toggle-btn2.active>.inner-circle,.toggle-btn3.active>.inner-circle{
	margin-left: 40px;
}
.icon1{	
	color: #fff;
	margin: 10px auto;
}
.header {
text-align: center;
			padding: 20px;
			background-color: #8cd8db;
}
.header h1 {
	font-size: 48px;
	margin-top: 20px;
}